<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="bookDao" class="com.bookstore.dao.impl.BookDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="bookService" class="com.bookstore.service.impl.BookServiceImpl">
		<property name="bookDao">
			<ref bean="bookDao"/>
		</property>
	</bean>
	<bean id="bookAction" class="com.bookstore.action.BookAction">
		<property name="bookService">
			<ref bean="bookService"/>
		</property>
	</bean>
	<bean id="hotBook" class="com.bookstore.domain.HotBook" scope="prototype"></bean>
	<bean id="specialBook" class="com.bookstore.domain.SpecialBook" scope="prototype"></bean>
	<bean id="hotpage" class="com.bookstore.tools.Page" scope="prototype"></bean>
	<bean id="specialpage" class="com.bookstore.tools.Page" scope="prototype"></bean>
	<bean id="sometypepage" class="com.bookstore.tools.Page" scope="prototype"></bean>
</beans>