<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=gbk">
    
   <link rel="stylesheet" type="text/css" href="../css/style.css">
   <script type="text/javascript" src="../js/jquery-1.4.2.js"></script>

  </head>
  
  <body>
   <div id="header">
   	<div ></div>
   </div>
   <div id="guidance"></div>
   <div id="main"></div>
   <div id="foot"></div>
  </body>
</html>
